



@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

body{ 
  font-family: 'arimo',sans-serif;
  margin: 0;
  padding: 0;
}

header{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px  20px;

}

header .right{ 
  display: flex;
  
  justify-content: flex-end;
  width: 100%;

} 

header p,a {
  
  color: #202124;
  margin-right: 10px;
  
 

}

header p:hover{
  color: #202124
  
}
header p:visited{
  color: #202124
}

a:link  {
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;

}

header .right svg{
  height: 30px;
  width: 30px;
  margin-top: -5px;
 margin-right: 10px;
 cursor: pointer;
 color: #202124
}

header p.user  img  {
height: 30px;
width: 30px;
margin-top: -5px;
margin-right: 10px;
cursor: pointer;
color: #202124
}


.lesite {  display: flex;
  justify-content: center;
align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 238px;
  width: 272px;
  height: 92px;
 
  
}




.centre{

  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;

}

.centre .button {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.centre .button input{
margin-top: 20px;
padding:15px;
border-radius: 50px;
border:1px solid #d1d1d1;
outline:none;
width: 100%;
}


.centre .button input:hover, .centre .button input:focus{
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);

  border:none;

}

.centre .button label i{

  float: right;
  font-size: 26px;
  margin-top: -38px;
  margin-right: -10px;
  position: relative;
  cursor: pointer;
  color: #1f7eeb;
}
.centre .recherche{
    margin-top: 40px;

}
.centre .recherche button{
  padding: 10px 20px;
  background-color: #f5f5f5;
  border:none; 
  border-radius: 5px;
  margin-right: 10px;
  cursor:pointer;
  color: #888888;
  
  

}